In [61]:
import pandas as pd

In [62]:
car =pd.read_csv('quikr_car.csv')

In [63]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [64]:
car.shape

(892, 6)

In [65]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 21.0+ KB

In [66]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

## Error In data set

- year has some garbagge values
- year is object convert it to int 
- price has value ask for price
- price object to int
- kms_driven has object values with kms at last
- fuel_type has nan values
- names have company names attached to it

# Cleaning Data

In [67]:
backup=car.copy()

year has non year value

In [68]:
car=car[car['year'].str.isnumeric()]

In [69]:
car['year'].astype(int)

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
886    2009
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 842, dtype: int32

In [70]:
car=car[car['Price']!="Ask For Price"]

In [71]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [72]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [73]:
car=car[car['kms_driven'].str.isnumeric()]

In [75]:
car['kms_driven'].astype(int)

0       45000
1          40
3       28000
4       36000
6       41000
        ...
883     50000
885     30000
886    132000
888     27000
889     40000
Name: kms_driven, Length: 817, dtype: int32

In [79]:
car=car[~car['fuel_type'].isna()]

In [81]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [85]:
car=car.reset_index(drop="true")

In [86]:
car.describe()

              Price
count  8.160000e+02
mean   4.117176e+05
std    4.751844e+05
min    3.000000e+04
25%    1.750000e+05
50%    2.999990e+05
75%    4.912500e+05
max    8.500003e+06

In [88]:
car=car[car['Price']<6e6].reset_index(drop="true")

In [90]:
car

                       name   company  year   Price kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000      45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000         40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000      28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000      36000    Diesel
4                 Ford Figo      Ford  2012  175000      41000    Diesel
..                      ...       ...   ...     ...        ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000      50000    Petrol
811          Tata Indica V2      Tata  2009  110000      30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000     132000    Petrol
813            Tata Zest XM      Tata  2018  260000      27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000      40000    Diesel

[815 rows x 6 columns]

In [91]:
car.to_csv("Cleaned Data.csv")

In [98]:
X=car.drop(columns="Price")
y=car['Price']

In [99]:
import sklearn

In [100]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [101]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [102]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [103]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

In [104]:
lr=LinearRegression()

In [105]:
pipe=make_pipeline(column_trans,lr)

In [106]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [107]:
y_pred=pipe.predict(X_test)

In [108]:
y_pred

array([ 584092.7793239 ,  462722.11294814,  328489.8101605 ,
        235502.59029508,  255398.48557062, 1727910.85461265,
        546430.71256638,  363044.55084277,  155907.85501079,
        122668.39366723,  330054.50954322,  222699.51064554,
        506243.13545336,   80513.85635186,  343449.15788584,
        339249.84330359,  129479.00278141,  440709.67893606,
        653029.89237167,  342970.67165442,  497516.22555554,
        275089.79293642,  340985.22064821,  245476.40869104,
        490603.57418811,  350577.13441861,   18163.55754989,
        314979.86918306,  540450.64207917,  154047.44083537,
        181223.14081948,  225390.85437431,  144691.55419999,
        212969.41399579,  564569.14979424,  689193.94754595,
        213006.14532997,  317245.3234567 ,  303027.30699157,
        333014.4492368 ,  460526.48308808,  356319.48634992,
        193202.89194536,  474073.29617989, 1561189.09957893,
        440380.34542717,  235037.48675122,  214617.37153643,
        447978.15486744,  765782.90786742,  749039.18028871,
        333492.37399007,  225606.22173119,  260206.56410822,
        266836.73159532,   72669.04536617,  522795.40973272,
        344313.62378384,  542889.39594887,  289314.69457114,
        415534.94272128,  465972.12879024,  319802.27075841,
        146432.77830589, 1248261.38861903,  158819.2810496 ,
        107343.41205446,   43051.01211956,  592636.73761388,
        501694.75585394,  736283.2314623 ,  260367.0835249 ,
        520039.00063626,  267688.30541671,  549774.89714445,
         93392.74035198,  342232.53040062,  357967.34676013,
        595501.99358034,  400697.0858805 ,  259501.45185577,
        243808.29275874,  234479.85461016,  335180.20276926,
        358393.51540424,  537732.13377793,  290523.46395668,
         93263.69334976,  266693.94761958,  381542.06783433,
        138983.07428202,   84765.97127495,  512887.23880958,
        600888.39105331,  520271.55240818,  616958.66929284,
        310525.04176386,   77603.66315652,  155318.11026251,
        222135.12956734,  522398.94607574,  398846.62667743,
        620774.40390985,   12280.53622817,  501116.20517917,
        226772.89315306,  184641.56881772,  427838.63682696,
         85316.69598208,  243691.72897935,  177760.90462415,
         35726.34653874,  516814.36943696,  344570.52843275,
        295258.73394927,  488117.67080088,  451689.51575487,
        197410.10675694,  520039.00063626,  207448.99551997,
        245857.94873484,    2751.83060494,  655633.9795452 ,
        826687.70215696,  245849.89514707,  155608.83499615,
        396823.14922968,  584092.7793239 ,  -24542.82864151,
        351959.81236361,  526994.53289463,   97768.2751716 ,
        161716.38377848,  335730.54070625,  749148.96844702,
       1442632.81572056,  602748.19403549,  224550.65619627,
        219468.9130659 ,  440709.67893606,  526994.53289463,
        282278.16925125,  405154.60956242,  395461.28642819,
        106413.20496675,  690704.55074045,  248317.7594692 ,
       1605427.39282841,  391883.01231356,   43388.04278225,
        412913.71775299,  195905.95781641,  260941.3338234 ,
        782290.654682  ,   15222.07089691,  464576.81815869,
        258811.25347666,  192499.31960383,  407671.68939006,
        293670.3703716 ,  441002.98726306, 1057042.88697244,
        555401.60197728])

In [109]:
r2_score(y_test,y_pred)

0.7708010314140438

In [110]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [111]:
import numpy as np
np.argmax(scores)

655

In [112]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
scores.append(r2_score(y_test,y_pred))

In [113]:
pipe.predict(pd.DataFrame(columns=['name','company','year','kms_driven','fuel_type'],data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([416098.07216907])